ul.tasks li {
	margin-top: 2em;
}

ul.tasks {
	list-style: none;
}

div.period {
	display: block;
	border: 1px solid navy;
	border-radius: 10px;
}

div.period.successful {
	background-color: dodgerblue;
	color: white;
}