ul.tasks li {
	margin-top: 2em;
}

ul.tasks, ol.period {
	list-style: none;
}

ol.period {
	display: block;
	border: 1px solid navy;
	border-radius: 10px;
}

ol.period.successful {
	background-color: blue;
	color: white;
}

ol.period.successful li {
	border-color: white;
}

ol.period li {
	display: inline-block;
	border: 1px solid black;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 3px;
}

ol.period li.today {
	border-color: dodgerblue;
}

ol.period li.today:hover {
	cursor: pointer;
}

ol.period li .date {
	display: none;
}

ol.period li:hover {
	cursor: default;
}

ol.period li:hover .date {
	display: inline;
	text-align: center;
}

ol.period li:hover .completes {
	display: none;
}