<div>
	<h2>Define a new task</h2>
	<form name="newTask" ng-submit="viewModel.submit(newTask)">
		<label>
			What do you want to do?
			<input name="goal" ng-model="goal" type="text" required />
		</label>

		<h2>How often?</h2>
		<label>
			<input name="quantity" ng-model="quantity" type="number" min="1" max="7" required />
			time(s)
		</label>

		<label>
			every
			<select ng-model="frequency" ng-options="val.text for val in viewModel.FREQUENCY_OPTIONS" required
					ng-init="frequency = viewModel.FREQUENCY_OPTIONS[0]">
				<option value="">- frequency -</option>
			</select>
		</label>

		<br />

		<label>
			<input type="checkbox" name="hasDuration" ng-model="hasDuration" value="true" />
			(Duration?)
		</label>
		<br />

		<label for="duration-value" ng-show="hasDuration">for a duration of</label>
		<input name="duration" ng-model="durationValue" id="duration-value" type="number" min="0" ng-show="hasDuration"
				ng-required="hasDuration"/>
	
		<label for="duration-type" hidden>Choose duration length</label>
		<select id="duration-type" ng-model="durationType" ng-options="val.text for val in viewModel.DURATION_OPTIONS"
				ng-show="hasDuration" ng-required="hasDuration" ng-init="durationType = viewModel.DURATION_OPTIONS[0]">
			<option value="">- duration -</option>
		</select>

		<br />
		<button ng-disabled="newTask.$invalid">Create Task</button>
	</form>
</div>
<div ui-view></div>